{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4 text-center">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="80" class="mb-3">
                <h4 class="mb-4">Login Symmetria</h4>
                                
                <form method="POST">
                    <div class="mb-3 text-start">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-4 text-start">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Masuk</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}